table,
td {
    border: .025em solid grey;
    text-align: center;
}
table {
    margin-top: 1em;
}
td {
    padding: .25em;
}
tr > strong {
    text-align: center;
}
thead,
tfoot {
    background-color: darkgreen;
    color: #fff;
}