table,
td {
    border: 1px solid #333;
    text-align: center;
}
table {
    margin-top: 1em;
}
td {
padding: .5em;
}
tr > strong {
    text-align: center;
}
thead,
tfoot {
    background-color: darkslategrey;
    color: #fff;
}