// styling below for simpler and less space-taking navigation during development

header {
  box-shadow: 0 0 4px #4791db;
  border-radius: 5px;
  margin-bottom: 12px;
  nav {
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        display: inline;
        padding: 1rem;
        a {
          color: rgb(238, 238, 238);
          text-decoration: none;
        }
        .active {
          color: #4791db;
        }
      }
    }
  }
}

main {
  background: rgb(238, 238, 238);
  padding: 16px 0 16px 0;
  border: 8px solid black;
  border-radius: 5px;
  box-shadow: 0 0 4px #4791db;
}

